/* App.css */

.custom-logo {
  height: 6rem;
  padding: 1.5rem;
  transition: filter 300ms;
}
.custom-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.custom-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.custom-card {
  padding: 2rem;
}

.custom-read-the-docs {
  color: #888;
}
