/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom code block styling */
@layer components {
  .shiki {
    @apply overflow-x-auto rounded-md bg-gray-900 p-4 text-gray-100;
  }

  .shiki pre {
    @apply m-0;
  }

  .shiki code {
    @apply text-gray-100;
  }
}

/* @font-face {
  font-family: 'Neuropolitical';
  src: url('/fonts/neuropolitical.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --color-dark-bg1: #000000;
  --color-dark-bg2: #080808;
  --color-dark-bg3: #131313;
  --color-dark-bg4: #232323;
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-bg2); /* Use Tailwind darkBg2 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-bg4); /* Use Tailwind darkBg4 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-bg3); /* Slightly lighter on hover */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-bg4) var(--color-dark-bg2);
}
